* {
	margin: 0px;
	padding: 0px;
}

body {
  font-family:      'Helvetica';
  background-color: #304;
  background-color: #111;
  color:            #ede;
}

#navbar {
  height:           40px;
  width:            100%;
  background-color: #300;
  color:            #fff;
  display:          inline-block;
  position:         relative;

  ul#navbar-list {
    position: absolute;
    right:    0px;
    height:   100%;
    width:    75%;
    padding:  4px;

    li.navbar-list-item {
      float:       right;
      padding:     7px;
      margin-left: 6px;
      &:hover {
        cursor:           pointer;
        background-color: #680000;
        color:            #fff;
      }
    }
  }
}

#content-container {
  padding: 10px;
}

#account {
  #configure-taskboard-container {
    background-color: #300;
    height: 200px;
    width: 90%;
    padding: 8px;

    #task-states {
      .task-state {
        margin: 4px;
        padding: 4px;
        background-color: #400;
        .delete-button {
          font-size: 0.9em;
          height: 18px;
          width: 50px;
          float: right;
          text-align: center;
          background-color: #600;
          &:hover {
            background-color: #800;
            cursor: pointer;
          }
        }
      }
    }
  }
  .account-field {
    margin-bottom: 5px;
    .account-field-label {
      margin-right: 10px;
    }
  }
}

#task-board {
  .column {
    padding: 5px;
    background-color: #300;
    float: left;
    width: 30%;

    .cell {
      margin-bottom: 8px;
      padding: 5px;
      &.active {
        background-color: #480000;
        &:hover {
          background-color: #680000;
          cursor: pointer;
        }
      }
      &.inactive {
        color: #300;
      }
      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    .header {
      text-align: center;
      margin-bottom: 4px;
    }

    &:first {
      margin-left: 0px;
    }
    margin-right: 10px;
    &:last {
      margin-right: 0px;
    }
  }
}

#task-detail {
  input {
    size: 200;
  }
  button {
    width: 50px;
    height: 25px;
    margin-top: 10px;
    background-color: #480000;
    color: #fff;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #680000;
    }
  }
}
